.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.chart-wrapper {
    flex: 1;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart {
    width: 100%;
    display: block;
    height: 100%;
}

.button-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.mat-form-field {
    margin-left: 20px;
    width: 200px;
}

.mat-form-field .mat-select-trigger {
    color: #fff;
    background-color: #2196f3;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.mat-option {
    color: #000;
}

.mat-option:hover {
    background-color: #f2f2f2;
}

.mat-option.mat-selected:not(:hover) {
    background-color: #2196f3;
    color: #fff;
}

button[mat-raised-button] {
    background-color: #2196f3;
    color: #fff;
    margin-right: 20px;
}

button[mat-raised-button]:hover {
    background-color: #1769aa;
}

.example-list {
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  